.history-page-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  justify-content: start;
  min-height: 620px;
  gap: 30px;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-buttons button {
  background-color: #51ba85;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-buttons span {
  font-size: 16px;
  font-weight: bold;
}
