.filterButton {
  padding: 0px;
  border: none;
  margin: 5px 10px;
  text-align: left;
  cursor: pointer;
  background-color: #505050;
  color: #e0e0e0;
}

.filterButton.active {
  color: #51ba85;
}

.errorMessage {
  color: red;
  margin: 0px;
  align-self: center;
  justify-self: center;
}

.filterInputActive {
  color: #51ba85;
}

.filterInput {
  /* padding: 25px 0px 25px 25px; */
  font-size: 18px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 40px 0px 0px 40px;
  width: 100%;
  /* font-size: 1.2rem; */
  outline: none;
  text-align: center;
}
