header {
  border-bottom: 1px solid #eaeaea;
  height: 80px;
  margin-top: 1rem;
}

.header-logo {
  width: 200px;
  height: auto;
  margin-left: 1.3rem;
  cursor: pointer;
}

.header-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header-nav li {
  display: inline;
}

.header-nav a {
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.header-nav a:hover {
  color: #329462;
}

.header-nav li a.active {
  color: #329462;
}

.btn-signup {
  margin-right: 10px;
  font-size: 1.3rem;
  color: #333;
  text-decoration: none;
}

.btn-login {
  font-size: 1.3rem;
  padding: 5px 15px;
  background-color: #51ba85;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 2rem;
}

.btn-login:hover {
  background-color: #329462;
}

.user-name {
  position: relative;
  display: flex;
  padding: 5px 15px;
  margin-right: 2rem;
  justify-self: end;
  justify-items: end;
  align-items: center;

  .user-name-text {
    padding: 0px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0px;
    margin: 0px;
  }
  .user-name-text:hover {
    color: #329462;
  }

  .user-image {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-right: 7px;
    cursor: pointer;
  }

  .user-image:hover {
    border-color: #329462;
  }

  .user-name-dropdown {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    /* background: #f6f6f6; */
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 170px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    z-index: 1000;
    max-height: 320px;
    overflow-y: auto;

    button {
      padding: 3px 10px;
      border: none;
      border-bottom: 1px solid #ddd;
      background: #f6f6f6;
      /* background: #fff; */
      margin: 5px 0;
      width: 100%;
      text-align: left;
      cursor: pointer;
      border-radius: 5px;
      font-size: 15px;
    }
    button:hover {
      background-color: #329462;
    }
  }
}
