.comment-section {
  width: 100%;
}

.comments {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 12px;
}

.comment-input {
  width: 35%;
  min-height: 100px;
  padding: 20px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 15px;
  resize: none;
  align-self: center;
}

.comment-button {
  width: 300px;
  align-self: flex-end;
  background: #51ba85;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  align-self: center;
  border-radius: 130px;
}

.comment-button:hover {
  background: #329462;
}

.comments-content {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.comments-content:last-child {
  border-bottom: none;
}

.comments-content-avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-right: 7px;
  cursor: pointer;
}

.comments-content-avatar:hover {
  border-color: #329462;
}

.comments-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.comments-content-user-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.comments-content-user-name:hover {
  color: #329462;
}

.comments-content-text {
  font-size: 0.95rem;
}

.comments-content-timestamp {
  font-size: 0.8rem;
  color: gray;
}

@media (max-width: 600px) {
  .comments {
    padding: 15px;
  }

  .comments-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .comments-content-avatar {
    width: 35px;
    height: 35px;
  }

  .comments-content-user-name {
    font-size: 0.95rem;
  }

  .comments-content-text {
    font-size: 0.9rem;
  }
}
